$color1: rgba(218, 200, 175, 1);
$color2: rgba(141, 120, 104, 1);
$color3: rgba(237, 227, 228, 1);
$color4: rgba(231, 223, 232, 1);
$color5: rgba(228, 222, 228, 1);
:empty:after {
    content: attr(placeholder);
    cursor: text;
    display: inline;
    color: #c0c0c0;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: $color2;
    margin: 0px;
    color: black;
    padding: 0px;
    > div {
        > h1 {
            color: $color5;
        }
        padding-top: 50px;
        max-width: 1200px;
        width: 100%;
        margin: auto;
        > div {
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75), 3px 3px 3px 1px rgba(0,0,0,0.5);
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-align-items: stretch;
            -ms-flex-align: stretch;
            align-items: stretch;
            > div:nth-child(1) {
                background-color: $color3;
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 1 1 auto;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
                pre {
                    background-color: darken($color2, 20%);
                    overflow: auto;
                    padding: 15px;
                    color: $color4;
                    font-size: 10px;
                    margin: 0px;
                }
                > div {
                    display: table-row;
                    > div,
                    > pre {
                        display: table-cell;
                    }
                    > pre {
                        max-width: 300px;
                    }
                    > div {
                        width: 500px;
                        padding: 15px 30px;
                    }
                }
            }
            > div:nth-child(2) {
                background-color: $color1;
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 0 1 auto;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
                width: 280px;
                padding: 10px;
                pre {
                    white-space: pre-wrap;
                    /* css-3 */
                    white-space: -moz-pre-wrap;
                    /* Mozilla, since 1999 */
                    white-space: -pre-wrap;
                    /* Opera 4-6 */
                    white-space: -o-pre-wrap;
                    /* Opera 7 */
                    word-wrap: break-word;
                }
            }
        }
        img {
            display: block;
            width: 100%;
        }
    }
}

#pom {
    font-size: 9px;
}
